html, body{
    height: 100%;
    margin: 0;
}

header{
    display: grid;
    grid-template-columns: 20% 60% 20%;
    border-bottom: 1px solid grey;
    justify-items: center;
    align-items: center;
    padding: 15px;
}

.search-field{
    width: 80%;
}

.search-field button{
    display: grid;
    border-radius: 15px;
    grid-template-columns: 15% 50% 35%;
    background-color: lightgrey;
    width: 100%;
    align-items: center;
    justify-items: flex-start;
    border: none;
}
button svg{
    padding: 6px;
}

#search{
    padding-left: 6px;
    color: #474747;
    font-size: 20px;
}

#key{
    opacity: 50%;
}

.page {
    display: grid;
    grid-template-columns: 20% 55% 20%;
    height: 630px;
    /* -------------------------------------------------------------------*/
}

.left-sidebar{
    display: grid;
    flex-direction: row;
    margin-left: 10px;
    align-content: space-between;
}
.left-sidebar ul{
    list-style-type: none;
    padding-left: 0;
}

.left-sidebar li{
    padding: 6px 6px 6px 6px;
}

.li-element {
    color: grey;
    padding: 6px 6px 6px 20px;
    border-radius: 5px;
}

.li-element:hover {
    color: #474747;
    background-color: lightgrey;
    padding: 6px 6px 6px 20px;
    border-radius: 5px;
}

.sidebar-foot {
    display: grid;
    grid-template-columns: 20% 75%;
    align-items: center;
    border-radius: 15px;
    padding: 5px;
    background-color: #e6e6e6;
    max-height: 60px;
    margin-bottom: 15px;
}

.sidebar-foot a{
    margin-left: 10px;
}

.main-page {
    margin: 0 5% 0 10%;
}